*{
    padding: 0;
    margin: 0;
}

.background{
    height: 100vh;
    padding-left: 5px;
}
header{
    color: black;
    text-align: center;
    padding: 30px;
    border: px solid white;
    background-color: darkturquoise;
    border-radius: 5px;
    font-size: large;
}

.hide{
    display: none;
}

.container{
    display: grid;
    margin: auto ;
    grid-template-columns: 34% 34% 34%;
    grid-template-rows: 34% 34% 34%;
    max-width: 300px;
  
  
}
.cell{
border: 1px solid black;
min-width: 100px;
min-height: 100px;
display: flex;
justify-content: center;
align-items: center;
font-size: 40px;


}
.playerX{
    color: darkslategray;
}
.playero{
    color: dimgray;
}

.control{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
#reset{
    color:white;
    padding: 10px;
    font-size: 10px;
    border-radius: 8px;
    cursor: pointer;
    background-color: black;
    margin-left: 56em;
 
}

.x{
    background-color: violet;
}
.o{
    background-color: firebrick;
}