*{
    padding: 0;
    margin: 0;
   
}

body{
   
    background-image: url(pencil-g0ee375857_1280.jpg);
    
}

header{
    color: black;
    text-align: center;
    padding: 30px;
    border: px solid white;
    background-color: darkturquoise;
    border-radius: 5px;
    font-size: large;
}


.container{
    display: grid;
    margin: auto ;
    grid-template-columns: 34% 34% 34%;
    grid-template-rows: 34% 34% 34%;
    max-width: 300px;
  
  
}
.cell{
border: 1px solid black;
min-width: 100px;
min-height: 100px;
display: flex;
justify-content: center;
align-items: center;
font-size: 40px;


}


#reset{
    margin-left: 550px;
    margin-top: 18px;
    width: 150px;
    height: 50px;
 
}
